.image-card-wrapper {
  position: relative;
}

.image-card-image {
  border-radius: 10px;
  max-width: 100%;
  display: block;
}

.image-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: brown;
  border-radius: 10px;
}

.image-card-wrapper:hover .image-card-overlay {
  cursor: pointer;
  opacity: 1;
}

.image-card-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
